* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 95%);
}
.three-cards {
  width: 100%;
}

.cards {
  width: 85%;
  margin: 4rem auto;
}

/* ------ start of cards section -------- */
.card {
  padding: 3rem;
  height: 26rem;
}

.card h2 {
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', cursive;
  margin: 2rem 0;
  font-size: 2rem;
  color: hsl(0, 0%, 95%);
}

.card p {
  font-size: 0.85rem;
  line-height: 1.5rem;
  font-family: 'Lexend Deca', sans-serif;
  margin-bottom: 3rem;
  color: hsla(0, 0%, 100%, 0.75);
}

.card a {
  text-decoration: none;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.9rem;
  background-color: hsl(0, 0%, 95%);
}

.three-cards .cards .sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 10px 0 0;
}
.three-cards .cards .sedans a {
  color: hsl(31, 77%, 52%);
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
}
.cards .sedans a:hover {
  border: solid white 2px;
  background-color: hsl(31, 77%, 52%);
  color: white;
  transition: all ease 1s;
}
.three-cards .cards .suvs {
  background-color: hsl(184, 100%, 22%);
}

.three-cards .cards .suvs a {
  color: hsl(184, 100%, 22%);
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
}
.cards .suvs a:hover {
  border: solid white 2px;
  background-color: hsl(184, 100%, 22%);
  color: white;
  transition: all ease 1s;
}
.three-cards .cards .luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 10px 10px;
}
.three-cards .cards .luxury a {
  color: hsl(179, 100%, 13%);
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
}
.cards .luxury a:hover {
  border: solid white 2px;
  background-color: hsl(179, 100%, 13%);
  color: white;
  transition: all ease 1s;
}
/* -------- end of cards section ------ */

/* ------------ queries ----------- */

@media screen and (min-width: 720px) {
  html {
    font-size: 12px;
  }
  .three-cards {
    height: 100%;
    padding-top: 8rem;
  }
  .cards {
    margin: 5rem auto;
    width: 70%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .card {
    height: 100%;
  }
  .three-cards .cards .sedans {
    border-radius: 10px 0px 0px 10px;
  }
  .three-cards .cards .luxury {
    border-radius: 0px 10px 10px 0px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 13.5px;
  }
  .three-cards {
    padding-top: 4rem;
  }
  .cards {
    height: 50%;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 18px;
  }
  .three-cards {
    padding-top: 1rem;
  }
  .cards {
    height: 75%;
  }
  .card {
    height: 100%;
  }
  .card p {
    height: 20%;
    margin-bottom: 7rem;
  }
}
